---
layout: null
title: Pet Computação
---
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET</title>
    <script src="https://kit.fontawesome.com/82fd7f8bff.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/atividades.css">
</head>
<body>
    {% include header.html %}

    {% include main.html %}

    {% include footer.html %}
    
</body>
</html>
