<footer class="site-footer">
    <div class="info-footer">
        <div class="logo">
            <img src="data/assets/icone_pet.png" alt="Logo PET" style="height: 60px;">
            <div class="texto-logo">
                <h1>pet</h1>
                <span>computação</span>
            </div>
        </div>
        <span class="linha-footer">_________________________________________</span>
        <div class="redes-sociais">
            <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://x.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>

    <div class="contato-footer">
        <div class="contato-item">
            <i class="fa-solid fa-envelope"></i>
            <span>petcomp@icmc.usp.br</span>
        </div>
        <div class="contato-item">
            <i class="fa-solid fa-location-dot"></i>
            <span>Av. Trab. São Carlense, 400 - São Carlos/SP Bloco 1, sala 1-103 do ICMC</span>
        </div>
    </div>

    <div class="logo-footer">
        <img src="data/assets/logo_icmc.png" alt="ICMC" style="height: 100px;"/>
    </div>

    <div class="logo-footer">
        <img src="data/assets/logo_usp.png" alt="USP" style="height: 100px;"/>
    </div>

</footer>