<main class="conteudo-principal">
    <div class="banner-container">
        <img src="{{ site.baseurl }}/data/assets/banner_pet.png" alt="Imagem do PET" class="banner-img">
        <div class="banner-degrade"></div>
        <div class="banner-texto">
            <h2>Seja Bem-vindo ao PET Computação!</h2>
        </div>
    </div>
    <div class="secao-titulo">
        <img src="{{ site.baseurl }}/data/assets/icone_pet.png" alt="Ícone Pet" class="icone-secao"/>
        <span class="barra-separadora"></span>
        <h1>Nossas próximas <br> atividades</h1>
    </div>
    <div class="atividades-wrapper">
        <div class="atuais-container" id="atuais-container">
            <h2>Em andamento</h2>
            <div class="atuais-lista" id="atuais-lista"></div>
        </div>

        <div class="proximas-container">
            <div class="proximas-carrossel-wrapper">
                <div class="proximas-lista" id="proximas-lista"></div>
            </div>
            <div class="carrossel-controles">
                <button id="btn-anterior" class="btn-seta">←</button>
                <button id="btn-proximo" class="btn-seta">→</button>
            </div>
        </div>
    </div>

    <script src="{{ site.baseurl }}/js/atividades.js"></script>
</main>